:root{
    --color-pink-light: #F7cbd3;
    --color-peach-light: #FFdbaf;
    --color-brown: #CA7b42;
    --color-pink-dark: #F7cbd3;
    --color-brown-darker: #521908;
    --color-ligth-min:#ffffff;
    --color-ligth-med:#b4adae;
    --color-ligth-max:#948c8d;
    --color-dark-max:#242323;
    --color-dark-med:#242323;
    --color-dark-min:#504d4d;
    ---font-family-black-ops-one:'Black Ops One', sans-serif;
    ---font-family-arial: Arial, sans-serif;
    ---font-size-max: 3rem;
    ---font-size-med: 2rem;
    ---font-size-min: 0.8rem;
    ---opacity: 50%;
    ---border-radius:50px;
    --box-shadow: 0 0.5rem 1rem  #521908;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html {
    font-size: 14px;
  }
  body {
    margin: 0;
    background-color: var(--color-gray);
  }
.container-logo-menu-header-nav{
background: linear-gradient(90deg, #CA7b42 0%, #521908 100%);
z-index: 100;
height: 10vh;
width: 100%;
position: fixed;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 30px 0px 30px;
}
.content-logo-icon-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: auto;
}
.content-logo-icon-header span{
    font-size: var(---font-size-med);
    font-family: var(---font-family-black-ops-one);
    color:var(--color-brown-darker);
    margin-right: 10px;
}
.content-icon-logo-svg{
    width: auto;
    height: 100%;
}
.content-icon-logo-svg svg{
    width: 60px;
    height: 60px;
}
.content-icon-logo-svg path{
    fill:#ffffff;
}
.menu-nav-header{
    height: 100%;
    width: auto;
}
.menu-nav-header nav{
    height: 100%;
    width: auto;
}
.menu-nav-header nav ul{ 
    height: 100%;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu-nav-header nav ul a{ 
font-size: 1.8rem;
font-family: var(---font-family-arial);
color: var(--color-peach-light);
transition: all 300ms ease;
cursor: pointer;
}
.menu-nav-header nav ul a:hover{ 
color: var(--color-ligth-min);
font-size: 2rem;
}
.section-home{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #FFdbaf 0%, #CA7b42 100%);
}
.container-left-content-social-text-about-btn{
    height: 100%;
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-text-btn{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    gap: 10px;
    position: relative;
}
.content-text-btn h1{
font-size: var(---font-size-max);
margin-left: 30px;
color: var(--color-brown-darker);
}
.content-text-btn p{
font-size: var(---font-size-med);
margin-left: 5px;
color: var(--color-brown);
}
.content-text-btn button{
    color: var(--color-peach-light);
    cursor: pointer;
    background:var(--color-brown-darker);
    font-size: var(---font-size-max);
    height: auto;
    width: auto;
    padding:5px 10px 5px 10px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    border-radius: var(---border-radius);
    right: 100px;
    bottom: 100px;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.content-text-btn button:hover{
 background-color: var(--color-brown);
}
.container-social-initial{
    display: flex;
    flex-direction: row;
    gap: 10px ;
    width: 100%;
    height: auto;
}
.brands{
    width: 40px;
    height: 40px;
    color: var(--color-brown);
    transition: all 300ms ease;
}
.brands:hover{
    transform: rotate(10deg);
    scale: 1.1;
    color: var(--color-brown-darker);
}
.container-right-img-home{
    margin-top: 10vh; ;
    height: 100%;
    width: 100%;
}
.container-right-img-home img{
    height: 600px;
    width: 600px;
    float: right;
}
.section-about-me{
    height: 100vh;
    width: 100%;
   background-color: var(--color-peach-light);
}
.section-products{
    height: 100vh;
    width: 100%;
    background-color: var(--color-brown);
}
.section-contacts{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #CA7b42 0%, #521908 100%);
}
